<%- include('../partials/header') %>

<h1>Admin Dashboard</h1>
<div class="admin-grid">
  <a href="/admin/topics" class="admin-card">
    <h2>Manage Topics</h2>
    <p>Edit Topic information and upload images.</p>
  </a>

  <%# <a href="/admin/students" class="admin-card">
    <h2>Student Engagement</h2>
    <p>See which colleges students are visiting.</p>
  </a>
</div> %>

<%- include('../partials/footer') %>